@use "../abstracts/variables" as *;

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
html { 
    scroll-behavior: smooth; 
} 
 
body { 
    font-family: $font-main; 
    background-color: $color-background; 
    color: $color-text; 
    line-height: 1.7; 
} 
 
a { 
    color: $color-subheading; 
}